h1.p1, h2.p1, h3.p1 {
	text-align:center;
}

.container {
	width:50%;
	min-width:600px;
	margin-bottom:50px;
	text-align;center;
}

img {
	display:block;
	margin:auto;
	width:50%;
}

p {
	text-align:center;
}

.cheatsheet {
    text-align:left;
}

h1.cheatsheet, h2.cheatsheet, h3.cheatsheet, p.cheatsheet {
    text-align:left;
}
